*{
    font-family: sans-serif;
}
.main-menu{
    height: 58px;
    width: 100%;
    background-color: #19283d;
    text-align: center;
}
.logo{
    height: 50px;
    display: inline-block;
}
.button-menu{
    position: relative;
    float: right;
    margin-right: 5%;
    font-size: 25px;
    margin-top: 2%;
    color: white;
}
.top-1{
    height: 150px;
    width: 100%;
    background-color: #0a121f;
    text-align: center;
}
.animate-text-1{
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 5%;
}
.animate-text-2{
    color: white;
    font-style: italic;
    padding-top: 5%;
}
.slide-1{
    height: 370px;
    width: 100%;
    background-color: red;
    animation: slide-1 10s linear alternate infinite ;
}
@keyframes slide-1{
    0%{background-image: url(/Pictures/Slide/b_1.jpg);background-position: center center;background-repeat: no-repeat;background-size: cover;position: relative;width: 100%;}
    50%{background-image: url(/Pictures/Slide/b_3.jpg);background-position: center center;background-repeat: no-repeat;background-size: cover;position: relative;width: 100%;}
    100%{background-image: url(/Pictures/Slide/b_5.jpg);background-position: center center;background-repeat: no-repeat;background-size: cover;position: relative;width: 100%;}
}